// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #da0037;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #4a4a4a;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
